*{
  margin:0;
  padding:0;
}

.main-container{
  height:100vh;
  background-color:bisque;
}

.flag-container{
  height:250px;
  width:500px;
  background-color:green;
  
}


.flag-circle{
  height:150px;
  width:150px;
  background-color:red;
  border-radius:75px;
}